In [2]:
from nba_api.stats.static import players,teams
from nba_api.stats.endpoints import playergamelog, playercareerstats, cumestatsplayer, boxscoreadvancedv3, playerestimatedmetrics,commonplayerinfo, teamgamelog

In [3]:
def get_player_id(player_name):
    player = players.find_players_by_full_name(player_name)
    return player[0]

In [4]:
def player_career_stats(player_name):
    if player_name:
        player_id = get_player_id(player_name)
        data = playercareerstats.PlayerCareerStats(player_id=player_id).get_data_frames()[0]
        return data
    return None

def get_players_adv_metrics(player_name):
    data = playerestimatedmetrics.PlayerEstimatedMetrics(season='2023-24').get_data_frames()[0]
    player = get_player_id(player_name)
    return data.loc[data['PLAYER_ID'] == player]

In [5]:
get_players_adv_metrics('devin booker')

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, GP, W, L, W_PCT, MIN, E_OFF_RATING, E_DEF_RATING, E_NET_RATING, E_AST_RATIO, E_OREB_PCT, E_DREB_PCT, E_REB_PCT, E_TOV_PCT, E_USG_PCT, E_PACE, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, E_OFF_RATING_RANK, E_DEF_RATING_RANK, E_NET_RATING_RANK, E_AST_RATIO_RANK, E_OREB_PCT_RANK, E_DREB_PCT_RANK, E_REB_PCT_RANK, E_TOV_PCT_RANK, E_USG_PCT_RANK, E_PACE_RANK]
Index: []

In [6]:
playerestimatedmetrics.PlayerEstimatedMetrics(season='2023-24').get_data_frames()[0]

     PLAYER_ID         PLAYER_NAME  ...  E_USG_PCT_RANK  E_PACE_RANK
0      1631199      Ron Harper Jr.  ...             569            1
1      1631167  Izaiah Brockington  ...               4            2
2      1641926       Dexter Dennis  ...              22            3
3      1630563        Joshua Primo  ...              33            4
4      1630535      Greg Brown III  ...             227            5
..         ...                 ...  ...             ...          ...
567    1628391         D.J. Wilson  ...             183          568
568    1631250          Pete Nance  ...             410          569
569    1631376   Dmytro Skapintsev  ...              70          570
570    1630606       Javonte Smart  ...             569          571
571    1628382      Justin Jackson  ...             569          572

[572 rows x 32 columns]

In [7]:
def get_player_info(player_name):
    player = players.find_players_by_full_name(player_name)
    if player:
        player_id = player[0]['id']
        player_info = commonplayerinfo.CommonPlayerInfo(player_id=player_id).get_data_frames()[0]
        if not player_info.empty:
            player_information = {
                'full_name': player_info.iloc[0]['DISPLAY_FIRST_LAST'],
                'position': player_info.iloc[0]['POSITION'],
                'team_city': player_info.iloc[0]['TEAM_CITY'],
                'team_name': player_info.iloc[0]['TEAM_NAME']
            }
            return player_information
    return None

    
def get_player_id(player_name):
    player = players.find_players_by_full_name(player_name)
    return player[0]

In [9]:
def get_team_logs(team_name):
    if len(team_name) == 3:
        team_info = teams.find_team_by_abbreviation(team_name)
        if team_info:
            team_id = team_info['id']
        else:
            return None  # Return None if team information is not found
    else:
        team_info = teams.find_teams_by_nickname(team_name)
        if team_info:
            # If team information is found by nickname, select the first team and extract its ID
            team_id = team_info[0]['id']
        else:
            return None  # Return None if team information is not found

    print(team_info)
    print(team_id)

    # Retrieve game logs using the team ID
    game_logs = teamgamelog.TeamGameLog(team_id=team_id).get_data_frames()[0]
    return game_logs

In [10]:
get_team_logs('lal')

{'id': 1610612747, 'full_name': 'Los Angeles Lakers', 'abbreviation': 'LAL', 'nickname': 'Lakers', 'city': 'Los Angeles', 'state': 'California', 'year_founded': 1948}
1610612747

       Team_ID     Game_ID     GAME_DATE      MATCHUP  ... BLK  TOV  PF  PTS
0   1610612747  0022301195  APR 14, 2024    LAL @ NOP  ...   3   14  13  124
1   1610612747  0022301177  APR 12, 2024    LAL @ MEM  ...   6   19  17  123
2   1610612747  0022301155  APR 09, 2024  LAL vs. GSW  ...   3    7  14  120
3   1610612747  0022301143  APR 07, 2024  LAL vs. MIN  ...   2   15  14  117
4   1610612747  0022301127  APR 06, 2024  LAL vs. CLE  ...  11   17  12  116
..         ...         ...           ...          ...  ...  ..  ...  ..  ...
77  1610612747  0022300127  NOV 01, 2023  LAL vs. LAC  ...   9   14  24  130
78  1610612747  0022300111  OCT 30, 2023  LAL vs. ORL  ...  10   16  17  106
79  1610612747  0022300100  OCT 29, 2023    LAL @ SAC  ...   4   12  22  127
80  1610612747  0022300076  OCT 26, 2023  LAL vs. PHX  ...   7   16  23  100
81  1610612747  0022300061  OCT 24, 2023    LAL @ DEN  ...   4   11  18  107

[82 rows x 27 columns]